/* filepath: src/scss/_config.scss */
/* filepath: src/scss/_core.scss */
/* filepath: src/scss/_config.scss */
:root:not(:has(form[novalidate])):has(*:invalid, *:out-of-range) .submit, :root:not(:has(form[novalidate])):has(*:invalid, *:out-of-range) .submit-btn, :root:not(:has(form[novalidate])):has(*:invalid, *:out-of-range) .submit-button, :root:not(:has(form[novalidate])):has(*:invalid, *:out-of-range) .submit-link, :root:not(:has(form[novalidate])):has(*:invalid, *:out-of-range) .form-submit, form:has(*:invalid, *:out-of-range):not([novalidate]) button[type=submit],
form:has(*:invalid, *:out-of-range):not([novalidate]) button:not([type]),
form:has(*:invalid, *:out-of-range):not([novalidate]) input[type=submit] {
  pointer-events: none !important;
  cursor: not-allowed !important;
}
:root:not(:has(form[novalidate])):has(*:invalid, *:out-of-range) .submit > *, :root:not(:has(form[novalidate])):has(*:invalid, *:out-of-range) .submit-btn > *, :root:not(:has(form[novalidate])):has(*:invalid, *:out-of-range) .submit-button > *, :root:not(:has(form[novalidate])):has(*:invalid, *:out-of-range) .submit-link > *, :root:not(:has(form[novalidate])):has(*:invalid, *:out-of-range) .form-submit > *, form:has(*:invalid, *:out-of-range):not([novalidate]) button[type=submit] > *,
form:has(*:invalid, *:out-of-range):not([novalidate]) button:not([type]) > *,
form:has(*:invalid, *:out-of-range):not([novalidate]) input[type=submit] > * {
  pointer-events: none !important;
  cursor: not-allowed !important;
}

/* filepath: src/scss/_mixins.scss */
/* filepath: src/scss/_config.scss */
.no-disable, .ndsbl, .form-disable-ignore {
  pointer-events: auto !important;
  cursor: auto !important;
}
.no-disable > *, .ndsbl > *, .form-disable-ignore > * {
  pointer-events: auto !important;
  cursor: auto !important;
}

form[action*=logout] button,
form[action*=logout] input[type=submit] {
  pointer-events: auto !important;
  cursor: auto !important;
}

form[action*=signout] button,
form[action*=signout] input[type=submit] {
  pointer-events: auto !important;
  cursor: auto !important;
}

form[action*=sign-out] button,
form[action*=sign-out] input[type=submit] {
  pointer-events: auto !important;
  cursor: auto !important;
}

form[novalidate] button,
form[novalidate] input[type=submit] {
  pointer-events: auto !important;
  cursor: auto !important;
}

form:has(*:invalid, *:out-of-range):not([novalidate]) [wire\:click*=validate] {
  pointer-events: none !important;
  cursor: not-allowed !important;
}

form:has(*:invalid, *:out-of-range):not([novalidate]) [wire\:click*=validate] > * {
  pointer-events: none !important;
  cursor: not-allowed !important;
}

form:has(*:invalid, *:out-of-range):not([novalidate]) [data-submit] {
  pointer-events: none !important;
  cursor: not-allowed !important;
}

form:has(*:invalid, *:out-of-range):not([novalidate]) [data-submit] > * {
  pointer-events: none !important;
  cursor: not-allowed !important;
}